.add-category-input-container {
  display: flex;
  flex-direction: row;
}

.add-category-input {
  margin-right: 10px;
}

.category-list {
  display: flex; 
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
