.card {
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: 30px 40px 50px 40px;
}

.dropdown {
  margin-right: 10px;
}

.dropdown-menu {
  font-size: 15px
}

.aaa {
  color: regular;
}